.lan{width: 15px;}
.right-part {  display:flex}
.right-part .dropdown{  display: inline-block;}
.login{margin: 0 15px;}
.header .btn-getstarted, .header .btn-getstarted:focus{font-size: 14px;}
p{color: #2A2A2A;}
.lms img{padding: 15px;}
.image-box{text-align: center;}
.image-box h3{font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px; text-decoration: underline; }
    .image-box p, .image-box li{color: var(--neutral-700, RGBA(42, 42, 42, 0.51));
       
        
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 171.429% */
        letter-spacing: 0.28px; }

        ul.list-none{list-style-type: none;padding: 0;}
        .list-box{text-align: start;
          max-width: 95px;margin: 20px auto;}
.image-box .list-box li{margin: 10px 0; color: #000;}      
.image-box li img{padding-right: 5px;}  
.image-box  h2{font-size: 36px; font-weight: bold;} 
.space{display: inline-flex;
  flex-direction: column;
  justify-content: space-between;}
.explore-btn{display: flex;
  align-items: center;
  gap: 8px; }
  .magic-box-wrap{border-radius: 16px;
    background: #000; padding: 40px 48px; position: relative;}
    
    .magic-box-wrap p,  .magic-box-wrap h2,  .magic-box-wrap a{color: #fff;}

    .magic-box-wrap p{margin: 32px 0;}
    img.magic-img {position: absolute;
      top: -168px;
max-width: 551px;
right: 0px;}

      .magic-box{position: relative; padding: 200px 0;}


p.cavet{font-family: 'Caveat', cursive; color: #F5983B; font-size: 24px;}
.form-wrap input, .form-wrap textarea{ background-color: #F2F2F7;;}


















@media (min-width: 1200px){
.h2, h2 {
  font-size: 2.22rem;
}

}



@media (max-width: 575px){
.hero-animated .animated {
    max-width: 100%;
}
.hero-animated h2 {
  font-size: 24px;
}
.hero-animated p {
  font-size: 12px;
  margin-bottom: 21px;
}
.hero-animated p.cavet {  font-size: 24px;}
.mobile-reverse{flex-direction: column-reverse;}
}




